{% extends "base.html" %}

{% block content %}
<p class="text-center lead my-3 ml-1">
    Sistema de Directores de cine donde se podrán ver las Peliculas dirigidas por cada uno de ellos y también una breve descripción de las mismas</p>
<br>
<h3>Elementos del Sistema</h3>
<ul class="ml-5 list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
        <a href="directores">Directores</a>
        <span class="badge badge-danger badge-pill">{{nro_directores}}</span>
    </li>
    <li class="list-group-item d-flex justify-content-between align-items-center bg-dark">
        <a href="peliculas">Peliculas</a>
        <span class="badge badge-danger badge-pill">{{nro_peliculas}}</span>
    </li>
</ul>

{% endblock %}
